$primary: #6c26ff;
$secondary: #242424;
$button: #4700df;
$text: #eae9e9;
$subtitle: #656565;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
strong,
nav a {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

p,
strong,
span,
li {
  font-family: "Roboto", sans-serif;
}

header,
main,
footer {
  width: 100%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.--btn-form {
  width: 90%;
  max-width: 480px;
  background-color: $button;
}

.--btn {
  width: 50%;
  max-width: 150px;
  color: $text;
  background: $primary;
  border-bottom: 3px solid $button;
  transition: background 0.4s;

  &:hover {
    background: darken($primary, 5);
  }
}

.--title {
  margin: 30px 0;
  width: 100%;
  color: $primary;
  font-size: 25px;
  position: relative;
  text-align: center;

  &::after,
  &::before {
    width: 13%;
    height: 7px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background-color: $secondary;

    @media (min-width: 768px) {
      width: 33%;
    }
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.--container-limit {
  width: 100%;
  max-width: 1200px;
  padding: 0 2%;
}
