.depoimentos {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .depoimentos__servicos,
  .depoimentos__list {
    width: 50%;
    height: auto;
    display: flex;

    .depoimentos__descricao {
      width: 100%;
      max-width: 550px;
      padding-top: 70px;
      position: relative;

      h1 {
        color: $text;
        font-size: 27px;
      }
    }
  }

  .depoimentos__servicos {
    background: $secondary;
    justify-content: flex-end;

    ul {
      list-style: inside;
      padding-top: 30px;
      padding-left: 20px;

      li {
        color: $text;
        font-size: 20px;
      }
    }

    button {
      position: absolute;
      bottom: 10%;
      right: 10%;
    }
  }

  .depoimentos__list {
    background: $primary;
    justify-content: flex-start;
    padding-left: 60px;

    .depoimentos__item {
      overflow-x: hidden;

      .depoimentos__client {
        display: flex;
        align-items: center;
        transition: transform 0.5s ease-in-out;
        transform: translateX(0);

        .depoimentos__desc {
          margin-top: 30px;
          color: $text;
          width: 100%;
          height: 100%;
          position: relative;
          padding-right: 40px;

          strong {
            font-weight: 400;
            position: absolute;
            bottom: -40px;
            right: 7%;
          }
        }
      }
    }

    .depoimentos__controler {
      width: 160px;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      span {
        cursor: pointer;
        display: block;
        border-width: 20px;
        border-style: solid;
        position: relative;
        z-index: 2;

        &:first-of-type {
          border-color: transparent $button transparent transparent;
        }

        &:last-of-type {
          border-color: transparent transparent transparent $button;
        }
      }

      .--disable {
        opacity: 0.7;
        cursor: initial;
      }
    }
  }
}
