<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/home/main.css">
  <title>CARS | AGENDAMENTO</title>
</head>
<body>
  <%- include('../partials/header', { page: page }) %>

  <%- include('../partials/footer', { page: page }) %>
</body>
</html>
