<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include('../partials/head'); %>
  <title>CARS | HOME</title>
</head>
<body>
  <%- include('../partials/header', { page: page }) %>

  <main>
    <section class="initial">
      <div class="initial__container --container-limit">
        <div class="initial__box">
          <div class="initial__item --item-primary">
            <span class="initial__style --container-primary"></span>
            <strong class="initial__title">
              Compra
            </strong>
          </div>

          <div class="initial__item --item-secondary">
            <span class="initial__style --container-primary"></span>
            <strong class="initial__title">
              Venda
            </strong>
          </div>

          <div class="initial__item --item-third">
            <span class="initial__style --container-secondary"></span>
            <strong class="initial__title --title-secondary">
              email@empresa.com
            </strong>
          </div>
        </div>
      </div>
    </section>

    <section class="destaques">
      <div class="destaques__container --container-limit">
        <h1 class="--title">VEÍCULOS EM DESTAQUE</h1>
        <div class="destaques__cards">
          <% data.forEach(function(carro) { %>
            <%- include('../partials/card', { carro: carro }) %>
          <% }); %>
        </div>
      </div>
    </section>

    <section class="depoimentos">
      <div class="depoimentos__servicos">
        <div class="depoimentos__descricao">
          <h1>
            Serviços
          </h1>

          <ul>
            <li>Compra</li>
            <li>Venda</li>
          </ul>

          <button type="button" class="--btn">
            <a href="#">Saiba mais</a>
          </button>
        </div>
      </div>

      <div class="depoimentos__list">
        <div class="depoimentos__descricao">
          <h1>
            Depoimentos
          </h1>

          <div class="depoimentos__item">
            <div class="depoimentos__client">
              <div class="depoimentos__desc">
                <q>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nisi hic perferendis necessitatibus beatae natus, ducimus sint nihil deserunt enim fugit est! Soluta molestias nisi incidunt mollitia quaerat voluptate libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nisi hic perferendis necessitatibus beatae natus, ducimus sint nihil deserunt enim fugit est! Soluta molestias nisi incidunt mollitia quaerat voluptate libero.
                </q>

                <strong>
                  Thiago Cabral
                </strong>
              </div>

              <div class="depoimentos__desc">
                <q>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nisi hic perferendis necessitatibus beatae natus, ducimus sint nihil deserunt enim fugit est! Soluta molestias nisi incidunt mollitia quaerat voluptate libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nisi hic perferendis necessitatibus beatae natus, ducimus sint nihil deserunt enim fugit est! Soluta molestias nisi incidunt mollitia quaerat voluptate libero.
                </q>

                <strong>
                  Eleandra Cabral
                </strong>
              </div>

              <div class="depoimentos__desc">
                <q>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nisi hic perferendis necessitatibus beatae natus, ducimus sint nihil deserunt enim fugit est! Soluta molestias nisi incidunt mollitia quaerat voluptate libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nisi hic perferendis necessitatibus beatae natus, ducimus sint nihil deserunt enim fugit est! Soluta molestias nisi incidunt mollitia quaerat voluptate libero.</q>

                <strong>
                  Aparecido Cabral
                </strong>
              </div>
            </div>

            <div class="depoimentos__controler">
              <span class="--disable"></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer></footer>
  <script async src="all.js"></script>
</body>
</html>
