<!DOCTYPE html>
<html lang='pt-BR'>
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/sobre/main.css">
  <title>CARS | VENDAS</title>
</head>

<body>
  <%- include('../partials/header'); %>

  <main class="main">
    <div class="--title">
      <span></span>
      <h1>Sobre</h1>
      <span></span>
    </div>
  </main>

  <%- include('../partials/footer'); %>
</body>
</html>
