<!DOCTYPE html>
<html lang='pt-BR'>
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/sobre/main.css">
  <title>CARS | SOBRE</title>
</head>

<body>
  <%- include('../partials/header'); %>

  <main class="main">
    <div class="--title">
      <span></span>
      <h1>Sobre</h1>
      <span></span>
    </div>

    <section class="sobre --container-limit">
      <img
        src="https://images.pexels.com/photos/3136673/pexels-photo-3136673.jpeg?
        auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt="Carro"
        class="sobre__image"
      >

      <h2 class="sobre__title">Loren ipsun</h2>

      <p class="sobre__desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac
        tincidunt lorem. Nulla condimentum et dolor et convallis. Mauris egestas
        ligula in pharetra venenatis. Etiam pharetra ipsum libero, vitae dignissim
        tortor imperdiet et. Aenean in tellus lorem ligula in pharetra venenatis.
        Etiam pharetra ipsum libero, vitae dignissim tortor imperdiet et. Aenean in
        tellus lorem ligula in pharetra venenatis. Etiam pharetra ipsum libero,
        vitae dignissim tortor imperdiet et. Aenean in tellus lorem.
      </p>

      <div class="sobre__descricao">
        <img
          src="https://images.pexels.com/photos/2920064/pexels-photo-2920064.jpeg?
          auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="Carro"
          class="sobre__img"
        >

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          ac tincidunt lorem. Nulla condimentum et dolor et convallis. Mauris
          egestas ligula in pharetra venenatis. Etiam pharetra ipsum libero.
        </p>
      </div>
    </section>
  </main>

  <%- include('../partials/footer'); %>

  <script defer src="js/bars.js"></script>
</body>
</html>
