<!DOCTYPE html>
<html lang='pt-BR'>
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="../styles/veiculo/main.css">
  <title>CARS | VEÍCULO</title>
</head>

<body>
  <%- include('../partials/header'); %>

  <main class="main --container-limit">
    <div class="slide">
      <div class="slide__img">
        <div class="imgs">
          <% data.images.forEach(function(img) { %>
            <img src="<%- img %>" alt="veiculo">
          <% }); %>
        </div>

        <button type="button" class="slide__next">

        </button>
        <button type="button" class="slide__before">

        </button>
      </div>
    </div>
  </main>

  <%- include('../partials/footer'); %>

  <script defer src="../js/slider_cars.js"></script>
  <script defer src="../js/bars.js"></script>
</body>
</html>
