<!DOCTYPE html>
<html lang='pt-BR'>
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="../styles/veiculo/main.css">
  <title>CARS | VEÍCULO</title>
</head>

<body>
  <%- include('../partials/header'); %>

  <main class="main --container-limit">
    <div class="slide">
      <div class="slide__img">
        <div class="imgs">
          <% data.images.forEach(function(img) { %>
            <img src="<%- img %>" alt="veiculo">
          <% }); %>
        </div>

        <button type="button" class="slide__next">

        </button>
        <button type="button" class="slide__before">

        </button>
      </div>
    </div>

    <section class="description">
      <div class="descricao">
        <h1 class="descricao__title">Nome do veículo</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          ac tincidunt lorem. Nulla condimentum et dolor et convallis. Mauris
          egestas ligula in pharetra venenatis. Etiam pharetra ipsum libero,
          vitae dignissim tortor imperdiet et. Aenean in tellus lorem ligula in
          pharetra venenatis. Etiam pharetra ipsum libero, vitae dignissim tortor
          imperdiet et. Aenean in tellus lorem ligula in pharetra venenatis. Etiam
          pharetra ipsum libero, vitae dignissim tortor imperdiet et. Aenean in
          tellus lorem.
        </p>

        <h2>Características</h2>

        <div class="descricao__caracteristicas">
          <ul class="descricao__list">
            <li class="descricao__item">
              <strong>
                Ano/Molelo
              </strong>
              <span>
                2020/2020
              </span>
            </li>

            <li class="descricao__item">
              <strong>
                Km
              </strong>
              <span>
                100.000
              </span>
            </li>

            <li class="descricao__item">
              <strong>
                Câmbio
              </strong>
              <span>
                Manual
              </span>
            </li>

            <li class="descricao__item">
              <strong>
                Licenciado
              </strong>
              <span>
                Não
              </span>
            </li>
          </ul>
        </div>

        <h2>Vendedor</h2>

        <strong class="descricao__vendedor">
          <span>Vendedor: </span>
          Nome do vendedor
        </strong>
      </div>

      <div class="form">
        <h1>Preço:</h1>
        <strong class="form__price">R$ 70.000</strong>

        <h2 class="form__subtitle">
          Tem interesse no veículo?<br>
          Deixe o seu contato
        </h2>

        <form action="../">
          <input name="name" placeholder="Nome*">
          <input type="email" name="email" placeholder="E-mail*">
          <input type="tel" name="phone" placeholder="Telefone*">
          <textarea name="message" placeholder="Messagem(opcional)"></textarea>
          <button type="submit" class="form__btn --btn-form">Enviar</button>
        </form>

      </div>
    </section>

  </main>

  <%- include('../partials/footer'); %>

  <script type="module" defer src="../js/slider_cars.js"></script>
  <script defer src="../js/bars.js"></script>
</body>
</html>
