<!DOCTYPE html>
<html lang='pt-BR'>
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/vendas/main.css">
  <title>CARS | VENDAS</title>
</head>

<body>
  <%- include('../partials/header'); %>

  <main class="main --container-limit">
    <div class="--title">
      <span></span>
      <h1>VENDAS</h1>
      <span></span>
    </div>

    <aside class="filtro">
      <form class="filtro__form">
        <div class="filtro__name --filtro-item">
          <label for="name">Filtro por nome</label>
          <input type="text" name="name" placeholder="Nome do veículo"/>
        </div>

        <div class="filtro__value --filtro-item">
          <label for="valor">Filtro por preço</label>
          <input type="range" name="valor" min="0" max="500000" value="0" class="filtro__slider"/>
          <div class="values">
            <span class="value__initial">R$0</span>
            <span class="value__final">R$500,000</span>
          </div>
        </div>

        <div class="filtro__order">
          <strong>Ordem</strong>
          <label for="crescente">Crescente
            <input type="radio" name="order" id="crescente" value="crescente">
            <span class="--check-radio"></span>
          </label>

          <label for="decrescente">Decrescente
            <input type="radio" name="order" id="decrescente" value="decrescente">
            <span class="--check-radio"></span>
          </label>
        </div>

        <div class="filtro__year">
          <strong>Filtro por ano</strong>
          <label for="all">Todas as décadas
            <input type="checkbox" name="all" id="all" value="all">
            <span class="--check"></span>
          </label>

          <label for="1990-2000">1990 - 2000
            <input type="checkbox" name="1990-2000" id="1990-2000" value="1990-2000">
            <span class="--check"></span>
          </label>

          <label for="2001-2010">2001 - 2010
            <input type="checkbox" name="2001-2010" id="2001-2010" value="2001-2010">
            <span class="--check"></span>
          </label>

          <label for="2011-2021">2011 - 2021
            <input type="checkbox" name="2011-2021" id="2011-2021" value="2011-2021">
            <span class="--check"></span>
          </label>

        </div>
      </form>
    </aside>

    <section class="veiculos">

    </section>
  </main>


  <!-- <%- include('../partials/footer'); %> -->

  <script defer src="js/slider_filter.js"></script>
  <script defer src="js/bars.js"></script>
</body>
</html>
