<!DOCTYPE html>
<html lang='pt-BR'>
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="styles/vendas/main.css">
  <title>CARS | VENDAS</title>
</head>

<body>
  <%- include('../partials/header'); %>

  <%- include('../partials/footer'); %>
  <script defer src="js/bars.js"></script>
</body>
</html>
