<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <%- include('../partials/head'); %>
    <title>CARS | VENDAS</title>
  </head>

  <body>
    <%- include('../partials/header'); %>


  </body>
</html>
