.filtro {
  grid-area: filtro;

  .filtro__container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);

    button {
      background-color: #fff;
      font-size: 20px;
      color: $primary;
    }
  }

  .filtro__form {
    display: none;
    position: relative;
    z-index: 3;
    background-color: #fff;
    padding: 20px 2%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);

    .--filtro-item {
      display: flex;
      flex-direction: column;

      label {
        font-size: 16px;
        font-family: "Rototo", sans-serif;
        font-weight: bold;
        margin: 20px 0 8px;
      }

      input[type="text"],
      select {
        width: 100%;
        padding: 10px;
      }
    }

    .filtro__value {
      .filtro__slider {
        outline: none;
        appearance: none;
        width: 100%;
        border-radius: 15px;
        height: 35px;
        border: 2px solid #d9d0d0;
        background: linear-gradient(90deg, #401698 0%, #fff 0%);

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          height: 40px;
          width: 40px;
          cursor: pointer;
          background: linear-gradient(180deg, #6c26ff 0%, #401698 60.87%);
          border: 1px solid #000000;
          box-sizing: border-box;
          border-radius: 10px;
        }
      }

      .values {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        padding: 0 4px;
        color: #7a7a7a;
        font-size: 14px;

        .value__initial,
        .value__final {
          display: block;
        }
      }
    }

    .filtro__order {
      margin: 20px 0;
      display: flex;
      flex-direction: column;

      label {
        position: relative;
        padding-left: 25px;
        margin-top: 8px;
        font-family: "Roboto", sans-serif;
        cursor: pointer;

        input {
          position: absolute;
          width: 0;
          height: 0;
        }

        .--check-radio {
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          width: 18px;
          height: 18px;
          border-radius: 10px;
          border: 1px solid rgb(94, 94, 94);

          &:after {
            display: none;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: $primary;
          }
        }

        input:checked ~ .--check-radio:after {
          display: block;
        }
      }
    }

    .filtro__year {
      strong {
        font-size: 16px;
        font-family: "Rototo", sans-serif;
        font-weight: bold;
        margin: 20px 0 8px;
        display: block;
      }

      label {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 5px;
        font-family: "Rototo", sans-serif;
        cursor: pointer;

        input {
          position: absolute;
          width: 0;
          height: 0;
        }

        input:checked ~ .--check:after {
          display: block;
        }

        input:checked ~ .--check {
          background: $primary;
        }

        .--check {
          position: absolute;
          display: block;
          left: 0;
          top: 0;
          width: 20px;
          height: 20px;
          border: 1px solid rgb(94, 94, 94);
          border-radius: 3px;

          &:after {
            content: "";
            position: absolute;
            display: none;
            left: 45%;
            top: 4px;
            width: 5px;
            height: 10px;
            border: solid white;
            transform: rotate(45deg) translateX(-50%);
            border-width: 0 2px 2px 0;
          }
        }
      }
    }

    .filtro__submit {
      position: relative;
      width: 100%;
      color: $text;
      background: linear-gradient(180deg, #6c26ff 0%, #401698 60.87%);
      font-size: 16px;
      border-radius: 4px;
      padding: 10px 5px;
      margin-top: 15px;
      text-align: center;

      &:hover {
        background: linear-gradient(180deg, #5f17fa 0%, #39128f 60.87%);
      }

      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
      }
    }
  }

  .filtro--block {
    display: block;
  }

  @media (min-width: 768px) {
    max-width: 300px;
    width: 25%;
    padding-right: 20px;
    top: 150px;
    position: fixed;

    .filtro__container {
      display: none;
      padding-right: 0px;
      box-shadow: none;
    }

    .filtro__form {
      display: block;
      background: transparent;
      padding: 0px;
      box-shadow: none;
    }
  }
}
