header {
  border-bottom: 6px solid $primary;
}

.main {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 100px 70px auto;
  grid-template-areas:
    "title title title title"
    "filtro filtro filtro filtro"
    "veiculos veiculos veiculos veiculos";

  .--title {
    grid-area: title;
    margin: 0;
  }

  .veiculos {
    width: 100%;
    grid-area: veiculos;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
  }

  @media (min-width: 768px) {
    grid-template-rows: 100px auto auto;
    grid-template-areas:
      "title title title title"
      "filtro filtro veiculos veiculos"
      "filtro filtro veiculos veiculos";

    .veiculos {
      padding-left: 320px;
    }
  }
}
