.main {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  grid-template-areas:
    "title title title title"
    "filtro filtro filtro filtro"
    "veiculos veiculos veiculos veiculos";

  .--title {
    grid-area: title;
  }

  .vendas {
    grid-area: veiculos;
  }
}
