$primary: #6c26ff;
$secondary: #242424;
$button: #4700df;
$text: #eae9e9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
strong,
nav a {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

header,
main,
footer {
  width: 100%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.--btn-form {
  width: 90%;
  max-width: 480px;
  background-color: $button;
}

.--btn {
  width: 50%;
  max-width: 180px;
  background-color: $primary;
  border-style: solid;
  border-width: 3px;
  border-bottom: $button;
}

.--title {
  width: 100%;
  color: $primary;
  font-size: 25px;
  position: relative;
  text-align: center;
}

.--title::after,
.--title::before {
  width: 20%;
  height: 7px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  content: "";
  background-color: $secondary;
}

.--title::before {
  left: 0;
}

.--title::after {
  right: 0;
}

.--container-limit {
  width: 100%;
  height: 100%;
  max-width: 1200px;
}
