<div class="destaques__card">
  <img
    src="<%- carro.image %>"
    alt="Foto do <%- carro.nome %>"
    class="destaques__image"
  >

  <div class="destaques__descricao">
    <strong class="destaques__title"><%- carro.nome %></strong>
    <strong class="destaques__subtitle"><%- carro.info %></strong>
  </div>
  <button class="destaques__btn" type="button">
    <a href="#">Mais detalhes</a>
  </button>
</div>
