<header class="header">
  <div class="header__container --container-limit">
    <a href="#" class="header__logo">
      <img src="../../images/logo.svg" alt="Logo">
    </a>

    <div class="header__nav-container-desktop">
      <nav class="header__nav-desktop">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link <% if(page == 'home') { %>
            --link-select
            <% } %>" href="/">Home</a>
          </li>
          <li class="header__item">
            <a class="header__link <% if(page == 'vendas') { %>
              --link-select
            <% } %>" href="/vendas">Vendas</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Sobre</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Contato</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header__nav-container-mobile">
      <button class="header__btn" aria-label="button" >
        <span class="header__burger"></span>
      </button>

      <nav class="header__nav-mobile">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link-mobile --link-select" href="#">Home</a>
          </li>
          <li class="header__item">
            <a class="header__link-mobile" href="#">Vendas</a>
          </li>
          <li class="header__item">
            <a class="header__link-mobile" href="#">Sobre</a>
          </li>
          <li class="header__item">
            <a class="header__link-mobile" href="#">Contato</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</header>
