.slide {
  width: 100%;
  height: 100%;

  .slide__img {
    margin: 40px auto 4px;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-top: 60%;

    .imgs {
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.4s;

      img {
        width: 100%;
      }
    }

    button {
      width: 20px;
      height: 50px;
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
    }

    .slide__next {
      background: url("../../images/arrow_right.svg") no-repeat;
      background-size: 70% 100%;
      background-position: center;
      right: 0px;
    }

    .slide__before {
      background: url("../../images/arrow_left.svg") no-repeat;
      background-size: 70% 100%;
      background-position: center;
      left: 0px;
    }
  }

  @media (min-width: 768px) {
    .slide__img {
      width: 70%;
      padding-top: 45%;

      button {
        width: 50px;
        height: 100px;
      }
    }
  }
}
