.destaques {
  width: 100%;
  margin-bottom: 60px;
  padding-bottom: 100px;

  .destaques__container {
    margin: 0 auto;
    width: 100%;

    .destaques__cards {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 30px;
    }
  }
}
